<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pouyaheydari.learning.sematecandroidbasicdey99">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SematecAndroidBasicDey99">
        <activity android:name=".TestViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestDynamicFragmentActivity">
        </activity>
        <activity android:name=".TestStaticFtagmentActivity"></activity>
        <activity android:name=".TestDatabaseActivity" />
        <activity android:name=".TestPicassoActivity" />
        <activity android:name=".TestAsyncHttpClientActivity" />
        <activity android:name=".TestHttpUrlConnectionActivity" />
        <activity android:name=".TestThreadActivity" />
        <activity android:name=".TestBroadcastReceiverActivity" />
        <activity android:name=".TestServiceActivity" />
        <activity android:name=".TestRecyclerViewActivity" />
        <activity android:name=".TestHandlerActivity" />
        <activity android:name=".TestPermissionActivity" />
        <activity android:name=".TestKebabMenuActivity" />
        <activity android:name=".TestNotificationActivity" />
        <activity android:name=".TestSharedPreferencesActivity" />
        <activity
            android:name=".TestDialogThemeActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".TestDialogActivity" />
        <activity android:name=".TestImplicitIntentActivity" />
        <activity android:name=".TestExplicitIntentActivity" />
        <activity android:name=".TestCustomTextViewActivity" />
        <activity android:name=".TestVideoViewActivity" />
        <activity android:name=".TestDrawerLayoutActivity" />
        <activity android:name=".TestWebViewActivity" />
        <activity android:name=".MainActivity" />

        <service android:name=".TestService" />
    </application>

</manifest>